.box-text-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    padding: 1.2rem 0 0.5rem 0;
    box-sizing: border-box;
    color: #212121;
    font-size: 1.8rem;
    font-weight: bold;
    background: #E0E0E0;
}