.IncomeFreeMoney{
    width: 100%;
    text-transform: uppercase;
}

.IncomeFreeMoney-block1{
    display: flex;
    justify-content: space-between;
}

.IncomeFreeMoney-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}