.IncomeDeposits {
    width: 100%;
    text-transform: uppercase;
}

.IncomeDeposits-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.IncomeDeposits-block1{
    display: flex;
    justify-content: space-between;
}

